<p id="notice"><%= notice %></p>

<h1>Search Histories</h1>

<table>
  <thead>
    <tr>
      <th>Search item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_histories.each do |search_history| %>
      <tr>
        <td><%= search_history.search_item %></td>
        <td><%= link_to 'Show', search_history %></td>
        <td><%= link_to 'Edit', edit_search_history_path(search_history) %></td>
        <td><%= link_to 'Destroy', search_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search History', new_search_history_path %>
