<!DOCTYPE html>
<html>
  <head>
    <title>Yelp + Google</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      #map {
        height: 400px;
        width: 400px;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>
    <%= react_component("HelloWorld") %>
    <div id="currentLocation">
      Current Location: NULL <br>
    </div>

    <div id="map">

    </div>
    <script>
        var map;
        var lng = 40
        var lat = -74

        function getLocation(){
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(initMap);
            } else {
                alert("Geolocation is not supported.");
            }

        }

        function initMap(position) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: position.coords.latitude, lng: position.coords.longitude},
                zoom: 15
            });

            document.getElementById("currentLocation").innerHTML = "Current Location : " +position.coords.latitude +"," + position.coords.longitude
        }

        window.onload = function() {
            getLocation()
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG-FPVU4hZRhs6usmsLTbYfUOeUV9VLcQ&callback=initMap">
    </script>
    <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %> :: <%= Time.now.strftime("%I") %> : <%= Time.now.min %>
  </body>
</html>
