<!DOCTYPE html>
<html>
  <head>
    <title>Yelp + Google</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component("HelloWorld") %>
    Current Location: <%= @coordinates %> <br>
    <%= Time.now %>
  </body>
</html>
