<!DOCTYPE html>
<html>
  <head>
    <title>Yelp + Google</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      #map {
        height: 400px;
        width: 400px;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>
    <%= react_component("HelloWorld") %>
    <div id="currentLocation">
      Current Location: NULL <br>
    </div>

    <button onclick="getLocation()"> Use Current Location</button>

    <div id="map">

    </div>
    <script>
        var map;
        var lat = 40.21;
        var lng = -73.123;

        function getLocation(){
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(mapWithCurrentLocation);
            } else {
                alert("Geolocation is not supported.");
            }

        }

        function mapWithCurrentLocation(position){
            initMap(position.coords.latitude, position.coords.longitude);
        }

        function initMap(latitude, longitude) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: latitude, lng: longitude},
                zoom: 15
            });

            document.getElementById("currentLocation").innerHTML = "Current Location : " +
                "" + latitude.toFixed(2) + "," + longitude.toFixed(2)
        }

        window.onload = function() {
            initMap(lat, lng);
        };
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG-FPVU4hZRhs6usmsLTbYfUOeUV9VLcQ&callback=initMap">
    </script>

    <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %> :: <%= Time.now.strftime("%I") %> : <%= Time.now.min %>
  </body>
</html>
