<!DOCTYPE html>
<html>
  <head>
    <title>Yelp N' Google</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type='text/javascript' src='config.js'></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1 id="center">Yelp N' Google</h1>
    <a id="cooler-buttons" href="https://github.com/andyw0ng/yelpNgoogle" target="_blank"> Github Repo </a>
    <br>
    <br>
    <%= react_component("HelloWorld") %>
  </header>

  <body>
    <div>
      Current Location:
      <div id="currentLocation">
        <br>
        <div id="spinner"></div>
      </div>
      <button id="currentlocation_button" onclick="getLocation()"> Use Current Location</button>
    </div>

    <div id = "yelpNmap">
      <table id="showTable" style="display:none;">
          <tr>
            <th>Store Name</th>
            <th>Address</th>
            <th id="go_here_column"> Go Here </th>
          </tr>
        <tbody id="result"></tbody>
      </table>
    </div>

    <div id="map" class="maps">
    </div>

      <script>
          var map;
          var address;

          function getLocation(){
              if(navigator.geolocation){
                  navigator.geolocation.getCurrentPosition(mapWithCurrentLocation, showError);
              } else {
                  alert("Geolocation is not supported or given");
              }

          }

          function showError(error) {
              switch(error.code) {
                  case error.PERMISSION_DENIED:
                     alert("User denied the request for Geolocation.");
                     document.getElementById("spinner").visible = false;

                     break;
                  case error.POSITION_UNAVAILABLE:
                      alert("Location information is unavailable.");
                      break;
                  case error.TIMEOUT:
                      alert("The request to get user location timed out.");
                      break;
                  case error.UNKNOWN_ERROR:
                      alert("An unknown error occurred.");
                      break;
              }
          }

          function convertCoordsToZip(latitude, longitude) {
              var mapsURI = "https://maps.googleapis.com/maps/api/geocode/json?address=" +
                  latitude + "," + longitude +
                  "&key=" + config.GOOGLE_KEY;

              let request = new XMLHttpRequest();

              request.onreadystatechange = function () {
                  if(this.readyState === 4 && this.status === 200) {
                      let response = JSON.parse(this.responseText);
                      let zip_code = response.results[0].formatted_address;

                      document.getElementsByClassName("spinner").visible = false;
                      document.getElementById("currentLocation").innerText = zip_code;
                      address = zip_code;
                  }
              }

              request.open("GET", mapsURI, true);
              request.send();
          }

          function getCurrentAddress(){
              return address;
          }

          function setCurrentAddress(search) {
              address = search;
          }

          function mapWithCurrentLocation(position){
              convertCoordsToZip(position.coords.latitude, position.coords.longitude);
          }

          function initMap(latitude, longitude) {
              map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: latitude, lng: longitude},
                  zoom: 15
              });

              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(latitude,longitude),
                  map: map
              });
          }

          window.onload = function() {
              getLocation();
          };
      </script>

      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG-FPVU4hZRhs6usmsLTbYfUOeUV9VLcQ&callback=initMap">
      </script>
    </div>


    <footer>
      <p>Last loaded on: <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %> :: <%= Time.now.strftime("%I") %> : <%= Time.now.min %>
      <br> By Andy Wong.
      </p>
    </footer>
  </body>


</html>
